# Xings Cheat Sheet

A compilation of everything I learned during my masters thesis. Written by **Jun Xing Li**

# Scikit Learn

## *StandardScalar()*

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Create a 2D array
X = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
y = np.array([[10, 11, 12]])

pd.DataFrame(X)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

Now we call the *StandardScaler()* object that contains different functions. We apply *fit_transform()* in order to perform the following:

\begin{equation*}
    X_{scaled} = \frac{X - \mu}{\sigma}
\end{equation*}

In order to apply the same transformation on $y$, we use *transform()* since the scaling (aka. mean and variance) are stored in the object. 

\begin{equation*}
    y_{scaled} = \frac{y - \mu}{\sigma}
\end{equation*}

In [2]:
scaler = StandardScaler()
X_obj = scaler.fit_transform(X)

pd.DataFrame(X_obj)

          0         1         2
0 -1.224745 -1.224745 -1.224745
1  0.000000  0.000000  0.000000
2  1.224745  1.224745  1.224745

In [3]:
y_scaled = scaler.transform(y)
pd.DataFrame(y_scaled)

         0        1        2
0  2.44949  2.44949  2.44949